#footer-wrap
  #log 
    #weblog
      a(href="/")
        img.logo(src=url_for(theme.avatar.img) onerror=`onerror=null;src='${theme.error_img.flink}`,alt="logo")
  #link 
    #linkgroup
      h3="联系"
      a(href="mailto:fuduoluo@gmail.com") 
        i.fas.fa-envelope
        |
        ="fuduoluo@gmail.com"
      a(href="https://weibo.com/HyggeCoder")
        i.fab.fa-weibo
        |
        ="HyggeCoder"
    #linkgroup
      h3="支持"
      a(href='https://hexo.io')= 'Hexo'
      a(href='https://github.com/jerryc127/hexo-theme-butterfly')= 'Butterfly'
    #linkgroup
      h3="关于"
      if theme.footer.owner.enable
        - var now = new Date()
        - var nowYear = now.getFullYear()
        if theme.footer.owner.since && theme.footer.owner.since != nowYear
            a(href='https://hexo.io')!= `&copy;${theme.footer.owner.since} - ${nowYear} By ${config.author}`
        else
            a(href='https://hexo.io')!= `&copy;${nowYear} By ${config.author}`
        
